[user]
    name = thekashifmalik
    email = emailkashifmalik@gmail.com

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --first-parent
    co = checkout
    st = status --short
    a = add
    b = branch
    cm = commit

[push]
    default = current

[pull]
    ff = only

[includeIf "gitdir:~/Code/coinbase/"]
    path = ~/dotfiles/coinbase/.gitconfig
[init]
	defaultBranch = master
