[user]
    name = thekashifmalik
    email = emailkashifmalik@gmail.com

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all --first-parent
    co = checkout
    st = status
    a = add
    cm = commit

[push]
    default = simple
